* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

::selection {
    background-color: #203ea8;
    color: var(--color-default);
}

:root {
    /* Animaties */
    --a-default: 0.2s;

    /* kleuren */
    --color-primary-100: #307FE2;
    --color-primary-50: rgb(82, 167, 253);
    --color-primary-25: rgb(167, 206, 246);
    --color-secundary-100: rgb(237, 59, 59);
    --color-tetiary-100: rgb(217, 78, 189);
    --color-default: #f4f4f4;        
    --color-accent-25: #eee;
    --color-accent-50: #ccc;
    --color-accent-100: #888;
    --color-invert: #111;

    /* Eenheden */
    --u-nano: 0.125em;
    --u-micro: 0.25em;
    --u-small: 0.4em;
    --u-medium: 0.5em;
    --u-default: 1em;
    --u-large: 2em;
    --u-round: 50%;
}

/* Import fonts */

/* Gloock serif - Headings */
@import url('https://fonts.googleapis.com/css2?family=Gloock&display=swap');

/* Typography */
h1 {
	font-family: 'Gloock', serif;
    color: var(--color-default);
    margin-bottom: var(--u-medium);
}

a, p {
    font-family: 'Lato', sans-serif;
}

p {
    color: var(--color-default);
    mix-blend-mode: hard-light;
    line-height: 1.4;
    padding-left: var(--u-medium);
}

/* Interactive */

a {
    width: fit-content;
    color: var(--color-default);
    border: 2px solid #3080e200 ;
    display: flex;
    align-items: center;
    gap: var(--u-medium);
    text-decoration: none;
    padding: var(--u-medium) 1em;
    transition: var(--a-default) ease-in;
    
}

a:focus-visible {
    outline: none;
}

a:is(:hover, :focus) {
    color: var(--color-primary-100);
    background-color: #bedbff;
    border: 2px solid var(--color-primary-100);
    border-radius: var(--u-medium);
}

@media (min-width: 64em) {
    h1, p {
        width: 40em;
    }
}